<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>metting</title>
  </head>
  <body>
    <div class="root">
      <!-- /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   Header  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */ -->
      <header class="header">
        <div class="wrapper wrapper__header">
          <div class="h__blocks">
            <img
              src="<%= require('./images/logo.png')%>"
              alt="Логотип"
              class="logo"
            />
            <div class="h__block-menu-icon">
              <div class="h__menu-icon-el"></div>
              <div class="h__menu-icon-el"></div>
            </div>
            <nav class="h__nav">
              <ul class="h__nav-list">
                <li class="h__nav-item">
                  <a href="" class="h__nav-link">Home</a>
                </li>
                <li class="h__nav-item">
                  <a href="" class="h__nav-link">Feature</a>
                </li>
                <li class="h__nav-item">
                  <a href="" class="h__nav-link">Pricing</a>
                </li>
                <li class="h__nav-item">
                  <a href="" class="h__nav-link">Solution</a>
                </li>
                <li class="h__nav-item">
                  <a href="" class="h__nav-link">Faq</a>
                </li>
              </ul>
            </nav>
            <div class="h__button-block">
              <button class="button button-sign">
                <p class="button-sign-text">Sign in</p>
              </button>
              <button class="button button-down">
                <p class="button-down-text">Download</p>
              </button>
            </div>
          </div>
        </div>
      </header>
      <!-- /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   Header END !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */ -->

      <!-- /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   Description  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */ -->
      <section class="description">
        <div class="wrapper wrapper__content">
          <div class="d__blocks">
            <div class="d__block-text">
              <h2 class="d__title">The best video online meeting software.</h2>
              <p class="d__description">
                Many desktop publishing packages and web page editors now use
                Lorem Ipsum as their default
              </p>
              <button class="button button__start">Start for free</button>
            </div>
            <div class="d__block-img">
              <picture class="lead__picture">
                <source
                  class="d__img"
                  srcset="<%=require('./images/descphoto-low.png')%>"
                  media="(max-width:960px)"
                />
                <img
                  class="d__img"
                  src="<%= require('./images/descphoto.png')%>"
                  alt=""
                />
              </picture>
            </div>
          </div>
        </div>
      </section>
      <!-- /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   Description END !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */ -->

      <!-- /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   Collaborate !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */ -->
      <section class="collaborate">
        <div class="wrapper wrapper__content">
          <div class="c__blocks">
            <div class="c__block-one">
              <div class="c__description-container">
                <p class="c__description">
                  Collaborate 2M+ startup and international companies ueses
                  since 2018
                </p>
              </div>

              <div class="c__progress-container">
                <div class="c__progress">
                  <p class="c__progress-num">15k</p>
                  <img
                    src="<%= require('./images/like.png')%>"
                    alt=""
                    class="c__progress-img"
                  />
                  <p class="c__progress-text">Active Downloads</p>
                </div>
                <div class="c__progress">
                  <p class="c__progress-num">4.9</p>
                  <img
                    src="<%= require('./images/rating.png')%>"
                    alt=""
                    class="c__progress-img"
                  />
                  <p class="c__progress-text">2,938 Rating</p>
                </div>
              </div>
            </div>

            <div class="c__block-two">
              <img
                src="<%= require('./images/airbnb-logo.png')%>"
                alt=""
                class="c__company-logo"
              />
              <img
                src="<%= require('./images/hubspot-logo.png')%>"
                alt=""
                class="c__company-logo"
              />
              <img
                src="<%= require('./images/google-logo.png')%>"
                alt=""
                class="c__company-logo"
              />
              <img
                src="<%= require('./images/microsoft-logo.png')%>"
                alt=""
                class="c__company-logo"
              />
              <img
                src="<%= require('./images/walmart-logo.png')%>"
                alt=""
                class="c__company-logo"
              />
              <img
                src="<%= require('./images/fedex-logo.png')%>"
                alt=""
                class="c__company-logo"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   Collaborate END !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */ -->

      <!-- /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   Special !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */ -->
      <section class="special">
        <div class="wrapper wrapper__content">
          <div class="s__blocks">
            <div class="s__block-one">
              <h2 class="s__title">Our Special Features</h2>
              <p class="s__subtitle">
                We are familiar with offline speed dating flow so we designed
                out online platform considering all the requirements
              </p>
            </div>

            <div class="s__block-two">
              <div class="s__card">
                <div class="s__card-container">
                  <img
                    src="<%= require('./images/card-img-one.png')%>"
                    alt=""
                    class="s__card-img"
                  />
                  <div class="s__card-title-container">
                    <h3 class="s__card-title">Affordable Pricing</h3>
                  </div>
                </div>
                <p class="s__card-subtitle">
                  A dictionary of over 200 Latin words,with a handful of model
                  sentence. structures, to generate Lorem Ipsum
                </p>
                <a href="" class="s__card-link">Learn more</a>
              </div>

              <div class="s__card">
                <div class="s__card-container">
                  <img
                    src="<%= require('./images/card-img-two.png')%>"
                    alt=""
                    class="s__card-img"
                  />
                  <div class="s__card-title-container">
                    <h3 class="s__card-title">Seamless Reliability</h3>
                  </div>
                </div>
                <p class="s__card-subtitle">
                  A dictionary of over 200 Latin words,with a handful of model
                  sentence. structures, to generate Lorem Ipsum
                </p>
                <a href="" class="s__card-link">Learn more</a>
              </div>

              <div class="s__card">
                <div class="s__card-container">
                  <img
                    src="<%= require('./images/card-img-three.png')%>"
                    alt=""
                    class="s__card-img"
                  />
                  <div class="s__card-title-container">
                    <h3 class="s__card-title">Secure Collaboration</h3>
                  </div>
                </div>
                <p class="s__card-subtitle">
                  A dictionary of over 200 Latin words,with a handful of model
                  sentence. structures, to generate Lorem Ipsum
                </p>
                <a href="" class="s__card-link">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   Special END !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */ -->
    </div>
  </body>
</html>
